@charset "UTF-8";

header {
	height : 300px;
    margin-left:75px;
    margin-right: 100px;
    
    width: 100%;
        
}   

nav {
	width : 250px;  
	float : left;   
	height: 750px;
    
    
    
}

#main {
	margin-left: 250px;    
    
}

footer {
	margin-top: 50px;
	position:bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
}

.floatright{
    float: right;
    margin-left: 30px;
}

nav a:hover,
nav a:active {
    background: yellow;
    color: darkgoldenrod;
}

.navbar {
    
    width: 125px;
    
}
.thispage {
    font-weight: bold;
    background: transparent;
    color: #4F221D;
}
body{
    background-color:beige;
    font-family: Georgia, "Century Gothic", Arial;
    font-size: 16pt;
}
footer {
    text-align: center;
    font-size: 85%;
    color: lightgrey;
}

h1, h2{
    color: darkgoldenrod;
    font-family: fantasy; 
}

table {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-color: darkgoldenrod;
    border-style: ridge;
    border-width: 5px;
}

th {
    color: black;
    
    
}

tr.stripe {
    background-color: darkgoldenrod;
}

td.bolder {
    font-weight: bold;
}

caption {
    caption-side: bottom;
    font-style: italic;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
