.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
    
  
  
}


.container {
    background-image: linear-gradient(to left, red, black);
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    min-height: 2.7rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    
}
.item,
.last-item {
    color: #ebebeb;
    text-decoration: none;

}
.item {
    margin-right: 1rem;

}
.last-item {
    margin-left: auto;
}
.banner {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }

  img.align-left {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }
  img.align-right {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  
  .footer {
    position:bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
   
    width: 50%;  
  }
form {
  border: 2px solid black;
  outline: darkslategrey solid 5px;
  margin: auto;  
  padding: 20px;
}

body {
  font-size: 16pt;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: red;
}
